
.note {
    background: #CBF3BB;
    border-left: 4px solid #ffd43b;
    padding: .75rem;
    border-radius: 6px
}

footer {
    padding: 2rem 1rem;
    margin-top: 3rem;
    color: #6b7280
}

.toc a {
    display: block;
    color: inherit;
    padding: .25rem 0
}


